<hr>
{{ if eq .Page.Language.Lang "en" }}
<p>These notes are part of <a href="/en/duality/">Duality</a>, my digital notebook. If you would like to receive them directly in your mailbox, you can <a href="https://dualit.substack.com/subscribe">subscribe to the newsletter</a>.</p>
{{ else }}
<p>Ces notes font partie de <a href="/dualite/">Dualité</a>, mon carnet de notes numériques. Si vous souhaitez les recevoir directement dans votre boîte mail, vous pouvez <a href="https://dualit.substack.com/subscribe">vous abonner à la newsletter</a>.</p>
{{ end }}
